Importando bibliotecas para o desenvolvimento do projeto

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
import pandas as pd

import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier

from sklearn.tree import DecisionTreeClassifier

from sklearn.svm import LinearSVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [4]:
dados = pd.read_csv('Base_Dados/heart_Disease.csv', sep=',')

In [5]:
dados.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
dados.describe().round(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.00,303.00,303.00,303.00,303.00,303.00,303.00,303.00,303.00,303.00,303.00,303.00,303.00,303.00
mean,54.37,0.68,0.97,131.62,246.26,0.15,0.53,149.65,0.33,1.04,1.40,0.73,2.31,0.54
std,9.08,0.47,1.03,17.54,51.83,0.36,0.53,22.91,0.47,1.16,0.62,1.02,0.61,0.50
min,29.00,0.00,0.00,94.00,126.00,0.00,0.00,71.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,47.50,0.00,0.00,120.00,211.00,0.00,0.00,133.50,0.00,0.00,1.00,0.00,2.00,0.00
50%,55.00,1.00,1.00,130.00,240.00,0.00,1.00,153.00,0.00,0.80,1.00,0.00,2.00,1.00
75%,61.00,1.00,2.00,140.00,274.50,0.00,1.00,166.00,1.00,1.60,2.00,1.00,3.00,1.00
max,77.00,1.00,3.00,200.00,564.00,1.00,2.00,202.00,1.00,6.20,2.00,4.00,3.00,1.00

In [7]:
dados.shape

(303, 14)

In [8]:
dados.dropna()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
dados.corr(method='pearson').round(4)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,1.0000,-0.0984,-0.0687,0.2794,0.2137,0.1213,-0.1162,-0.3985,0.0968,0.2100,-0.1688,0.2763,0.0680,-0.2254
sex,-0.0984,1.0000,-0.0494,-0.0568,-0.1979,0.0450,-0.0582,-0.0440,0.1417,0.0961,-0.0307,0.1183,0.2100,-0.2809
cp,-0.0687,-0.0494,1.0000,0.0476,-0.0769,0.0944,0.0444,0.2958,-0.3943,-0.1492,0.1197,-0.1811,-0.1617,0.4338
trestbps,0.2794,-0.0568,0.0476,1.0000,0.1232,0.1775,-0.1141,-0.0467,0.0676,0.1932,-0.1215,0.1014,0.0622,-0.1449
chol,0.2137,-0.1979,-0.0769,0.1232,1.0000,0.0133,-0.1510,-0.0099,0.0670,0.0540,-0.0040,0.0705,0.0988,-0.0852
fbs,0.1213,0.0450,0.0944,0.1775,0.0133,1.0000,-0.0842,-0.0086,0.0257,0.0057,-0.0599,0.1380,-0.0320,-0.0280
restecg,-0.1162,-0.0582,0.0444,-0.1141,-0.1510,-0.0842,1.0000,0.0441,-0.0707,-0.0588,0.0930,-0.0720,-0.0120,0.1372
thalach,-0.3985,-0.0440,0.2958,-0.0467,-0.0099,-0.0086,0.0441,1.0000,-0.3788,-0.3442,0.3868,-0.2132,-0.0964,0.4217
exang,0.0968,0.1417,-0.3943,0.0676,0.0670,0.0257,-0.0707,-0.3788,1.0000,0.2882,-0.2577,0.1157,0.2068,-0.4368
oldpeak,0.2100,0.0961,-0.1492,0.1932,0.0540,0.0057,-0.0588,-0.3442,0.2882,1.0000,-0.5775,0.2227,0.2102,-0.4307
slope,-0.1688,-0.0307,0.1197,-0.1215,-0.0040,-0.0599,0.0930,0.3868,-0.2577,-0.5775,1.0000,-0.0802,-0.1048,0.3459
ca,0.2763,0.1183,-0.1811,0.1014,0.0705,0.1380,-0.0720,-0.2132,0.1157,0.2227,-0.0802,1.0000,0.1518,-0.3917
thal,0.0680,0.2100,-0.1617,0.0622,0.0988,-0.0320,-0.0120,-0.0964,0.2068,0.2102,-0.1048,0.1518,1.0000,-0.3440
target,-0.2254,-0.2809,0.4338,-0.1449,-0.0852,-0.0280,0.1372,0.4217,-0.4368,-0.4307,0.3459,-0.3917,-0.3440,1.0000